.ibox{
    width: 100%;
    position: relative;
    margin-bottom: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.ibox-head{
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.ibox-head .ibox-title{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}

.ibox-head .ibox-tools{
    position: relative;
}

.ibox-head .ibox-tools>a {
    color: #aaa;
    font-size: 14px;
    padding: 0 6px;
}

.ibox-body{
    padding: 15px 40px 20px 25px;
}

.form-group{
    display: flex;
    width: 80%;
    /*margin: 0 auto;*/
    margin-bottom: 1rem;
    border-bottom: 1px solid #f1f1f1;
}

.col-form-label {
    margin-left: 30px;
    margin-bottom: 0;
    width: 30%;
    font-size: 16px;
    font-weight: 600;
}

.col-sm-10{
    text-align: start;
    min-height: 1px;
    width:70%;
}

.total{
    text-align: start;
    margin-bottom: 30px;
}
.total>span{
    margin-left: 80px;
    font-size: 18px;
    font-weight: 600;
}
/* .m-auto{
    margin-left: auto;
} */
