.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 19999;
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease;
}

.modal.show{
    opacity: 1;
    pointer-events: auto;
}

.row-col1{
    top:0;
    left:0;
    width: 50%;
    max-height: 75%;
    background: #fff;
    overflow-y: scroll;
}

.ibox1{
    width: 100%;
    /*pointer-events: none;*/
    position: relative;
    margin-bottom: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.ibox1 .ibox-head{
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.ibox1 .ibox-head .ibox-title{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
}

.ibox-head .ibox-tools{
    position: relative;
}

.ibox-head .ibox-tools>a {
    color: #aaa;
    font-size: 14px;
    padding: 0 6px;
}

.ibox1 .ibox-body{
    padding: 15px 40px 20px 25px;
}

.ibox1 .form-group{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-bottom: 1rem;
}

.ibox1 .col-form-label {
    padding-top: calc(0.5rem - 1px * 2);
    padding-bottom: calc(0.5rem - 1px * 2);
    margin-bottom: 0;
    width: 20%;
}

.ibox1 .col-sm-10{
    position: relative;
    min-height: 1px;
    width: 80%;
}

.ibox1 .control {
    width: 100%;
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);

}

.ibox1 .control:focus{
    outline:none;
    border: 1px solid darkturquoise;
}

.ibox1 .m-auto{
    margin-left: auto;
}

.ibox1 .ui-checkbox{
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    padding-left: 28px;
    font-weight: 400;
    min-height: 20px;
}

.ibox1 .ui-checkbox input{
    position: absolute;
    opacity: 0;
}

.ibox1 .input-span{
    background-color: #e6e6e6;
    border-color: transparent;
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    left: 0;
    border: none;
    border-radius: 4px;
}

.ibox1 span.input-span::after {
    content: '';
    position: absolute;
    display: none;
    width: 5px;
    height: 10px;
    left: 7px;
    top: 3px;
    border: solid #888;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.ibox1 .ui-checkbox input:checked + .input-span::after {
    display: block;
}
