<banner>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img th:src="@{../../img/images/banners/banner4.png}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img th:src="@{../../img/images/banners/banner8.png}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img th:src="@{../../img/images/banners/banner7.png}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img th:src="@{../../img/images/banners/banner9.png}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img th:src="@{../../img/images/banners/banner6.png}" style="width:100%">
        </div>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <div class="banner">
        <a href="#"> <img th:src="@{../../img/images/banners/blackFriday.gif}" style="width:100%"> </a>
    </div>
</banner>